<%- include('partials/header') %>

<div
  class="vh-100 w-100 d-flex flex-column align-items-center justify-content-center"
>
  <form class="w-50 d-flex flex-column" id="formulario">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Introduce tu nombre aquí..."
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Imagen</label>
      <textarea class="form-control" id="imagen" rows="3"></textarea>
    </div>
    <input
      type="submit"
      value="Enviar"
      class="btn btn-primary align-self-center"
    />
  </form>
</div>

<script src="/crear-imagen.js"></script>

<%- include('partials/footer') %>
